.btn{
    background-color:$c-primary;
    color:  #fff;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    font-weight: 300;

    &--orange{
        background-color: $c-org;
    }
    &--large{
        padding: 1.1rem 1.9rem;

        @mixin atSmall{
            font-size: 1.25rem;    
        }
    }
}
