.row{
    &__b-margin-until-medium{
        margin-bottom: 1rem;
    }

    @mixin atMedium{
        &__b-margin-until-medium{
            margin-bottom: 0;
        }

        &__padding-t{
            padding: 80px;
        }

        &__6-of-12{
            float: left;
            width: 50%;
        }
        &__4-of-12{
            float: left;
            width: 33.33%;
        }
        &__8-of-12{
            float: left;
            width: 66.66%;
        }
        &__4-of-12--larger{
            width: 37%;
        }
        &__8-of-12--small{
            float: left; 
            width: 63%;
        }            
    }
    @mixin clear-fix-me;

    &--gutters {
        margin-right: -65px;
        & > div {
            padding-right: 65px;
        }
        &-large{
            margin-right: -100px;
            & > div{
                padding-right: 100px;
            }
        }
        &--small{
            margin-right: -45px;
            & > div{
                padding-right: 45px;
            }

        }
    }

    &__equal-height-4-of-12{
        @mixin atMedium{
            display: flex; 
        }
        & > div {
            float: none;
            display: flex;
        }
    }
}