.social-icons{
    text-align: center;
    
    &__icon{
        background-color: $c-org;
        display:inline-block;
        margin: 0 5px 5px 0;
        padding: 5px;
        text-align: center;
        width: 23%;
        @mixin atMedium{
            width: 75px;
            margin: 0 5px;
        }      

        img{
            height: 50px;
            width: 50px;
            @mixin atMedium{
                width: 70px;
                height: 70px;
            }          
        }
    }
}