.testimonials{
    background-color: rgba(255,255,255,.8);
    padding: 0 18px 1px 18px;
    margin-top: 98px; 
    @mixin atMedium{
        margin-top: 0;
        padding: 0 1.8125rem 1px 1.8125rem; 
    }
    &__photo{
        border-radius: 50%;
        border : 4px solid rgba(255,255,255,.8);
        overflow: hidden;
        width: 160px;
        height: 160px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top :-80px;
        margin-bottom: -80px;
    }
    &__title{
        color: $c-primary;
        text-align: center;
        font-size:1.5rem;
        font-weight: 500;
        margin: 0;
    }
    &__subtitle{
        color: $c-org-d;
        text-align: center;
        font-size:.9375rem;
        font-weight: 400;
        margin: .25rem 0 1rem 0;

    }
    &__description{
        
    }  
    &--last{
        margin-bottom: 0;
    }      
}